.loginButton {
    float: right;
}

.quiz-images {
    width: 50%;
    background-color: white;
    margin: auto;
    padding: 10px;
    border: 10 solid black;
    text-align: center;
}

.howdy {
    display: block;
    text-align: center;
    line-height: 250%;
    font-size: 2em;
}

.column {
    width: 50%;
}

body {
    background-color: lightslategray;
    align-content: center;
}