.loginButton {
    float: right;
}

.howdy {
    display: block;
    text-align: center;
    line-height: 250%;
    font-size: 2em;
}

.column {
    width: 50%;
}

body {
    background-color: lightslategray;
}